// imports

@import 'twitter/bootstrap/variables';
@import 'variables';
@import 'twitter/bootstrap/mixins';

// simple reset

body, html {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 { font-weight: normal; }

header,
nav,
section,
footer,
article { display: block; }

// typography

body {
  font-family: 'StdEngschrift', sans-serif;
}

// section titles

section .section-title {
  background: url(../img/section-title-bg.png) center no-repeat;
  width: 400px;
  height: 122px;
  margin: 0 auto;
  padding: 30px 0 0 0;
  font-size: 92px;
  text-align: center;
  text-transform: uppercase;
}

// bgs 

html {
  background-color: #fff;
  background-image: url(../img/bg-bottom.jpg);
  background-position: center bottom;
}

body {
  background-image: url(../img/bg-top.jpg);
  background-position: center top;
}

// header

#app-header {
  @height: 130px;
  @paddingX: 25px;
  @paddingY: 15px;

  background: #fff;
  width: @app-width - (@paddingX * 2);
  height: @height - (@paddingY * 2);
  padding: @paddingY @paddingX;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  top: 45px;

  // logo

  .logo {
    margin: 0;
    float: left;

    a, img { display: block; }
  }
}

// navigation

#app-navigation {
  position: absolute;
  right: 25px;
  bottom: 15px;

  .navigation-list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li {
    display: inline;
    margin: 0 0 0 50px;
  }

  a {
    text-decoration: none;
    color: #585858;
    font-size: 36px;

    &:hover {
      border-bottom: 5px solid;
    }
  }
}

// banner

#banner-sup {
  width: @app-width;
  margin: 295px auto 0 auto;

  // greetings banner

  @import 'banners/greetings';
}

// about

#about {
  background: url(../img/about-bg.jpg) center top no-repeat;
  height: 1037px;
  margin: 90px 0 0 0;
  padding: 30px 0 0 0;

  .about-text {
    background: url(../img/about-text-bg.png) center no-repeat;
    width: 710px;
    height: 340px;
    padding: 35px 250px 35px 35px;
    margin: 0 auto;
    color: #585858;
    font-size: 53px;
  }

  .skills {
    width: @app-width;
    margin: 0 auto;

    h2 {
      color: #fff;
      font-size: 43px;
      text-transform: uppercase;
    }

    .skills-list {
      margin: 0;
      padding: 0;
      list-style: none;

      .item {
        width: 320px;
        height: 120px;
        float: left;
        color: #fff;
        text-transform: uppercase;
        font-size: 22px;
      }

      // skills

      @import 'skills';
    }
  }
}

// work

#work {
  background: url(../img/work-bg.jpg) center top no-repeat;
  padding: 90px 0 0 0;

  .work-list {
    margin: 80px 0 0 0;
    padding: 0;
    list-style: none;

    .item {
      background: #000;
      width: @app-width;
      margin: 0 auto;
      border-top: 2px solid #fff;
      .transition(width 1s ease-in-out);

      &.selected {
        width: 100%;
        border-top: 6px solid #910586;
        border-bottom: 6px solid #910586;
        .transition(all 1s ease-in-out);
      }

      a {
        height: 210px;
        display: block;
        overflow: hidden;
        position: relative;
      }

      .cover {
        position: absolute;
        top: -120%;
        left: 0;
      }
    }
  }
}

// footer

#app-footer {
  height: 415px;

  p {
    margin: 0;
    padding: 300px 0 0 0;
    text-align: center;
    font-size: 40px;
    color: #fff;
  }
}