// imports

@import 'twitter/bootstrap/variables';
@import 'variables';
@import 'twitter/bootstrap/mixins';
@import 'twitter/bootstrap/carousel';

// simple reset

body, html {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 { font-weight: normal; }

header,
nav,
section,
footer,
article { display: block; }

// typography

body {
  font-family: 'StdEngschrift', sans-serif;
  padding-top: 295px;
}

// section titles

section .section-title {
  background: url(../img/section-title-bg.png) center no-repeat;
  width: 400px;
  height: 122px;
  margin: 0 auto;
  padding: 30px 0 0 0;
  font-size: 92px;
  text-align: center;
  text-transform: uppercase;
}

// bgs 

html {
  background-color: #fff;
  background-image: url(../img/bg-bottom.jpg);
  background-position: center bottom;
}

body {
  background-image: url(../img/bg-top.jpg);
  background-position: center top;
}

// header

#app-header {
  @height: 130px;

  background: #fff;
  width: @app-width;
  height: @height;
  margin: 0 0 0 -(@app-width/2);
  overflow: hidden;
  position: absolute;
  top: 45px;
  left: 50%;
  z-index: 1;
  .transition(all @animation-time ease-in-out);

  &.fixed {
    width: 100%;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    .transition(all @animation-time ease-in-out);
  }

  // logo

  .logo {
    margin: 0;
    position: absolute;
    left: 25px;
    bottom: 15px;

    a, img { display: block; }
  }
}

// navigation

#app-navigation {
  position: absolute;
  right: 25px;
  bottom: 15px;

  .navigation-list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li {
    display: inline;
    margin: 0 0 0 50px;
  }

  a {
    text-decoration: none;
    color: #585858;
    font-size: 36px;

    &:hover {
      color: #910586;
    }
  }
}

// banner

#banner-sup {
  width: @app-width;
  margin: 0 auto;
  position: relative;

  // greetings banner

  @import 'banners/greetings';
}

// about

#about {
  background: url(../img/about-bg.jpg) center top no-repeat;
  height: 1037px;
  margin: 200px 0 0 0;
  padding: 30px 0 0 0;

  .about-text {
    background: url(../img/about-text-bg.png) center no-repeat;
    width: 710px;
    height: 340px;
    padding: 35px 250px 35px 35px;
    margin: 0 auto;
    color: #585858;
    font-size: 53px;
  }

  .skills {
    width: @app-width;
    margin: 0 auto;

    h2 {
      color: #fff;
      font-size: 43px;
      text-transform: uppercase;
    }

    .skills-list {
      margin: 0;
      padding: 0;
      list-style: none;

      .item {
        width: 320px;
        height: 120px;
        float: left;
        color: #fff;
        text-transform: uppercase;
        font-size: 22px;
      }

      // skills

      @import 'skills';
    }
  }
}

// work

#work {
  background: url(../img/work-bg.jpg) center top no-repeat;
  padding: 90px 0 0 0;

  .work-list {
    margin: 80px 0 0 0;
    padding: 0;
    list-style: none;

    // work

    @import 'work';
    @import 'work-1';
    @import 'work-2';
    @import 'work-3';
    @import 'work-4';
  }
}

// footer

#app-footer {
  height: 415px;
  margin-top: 400px;

  p {
    margin: 0;
    padding: 300px 0 0 0;
    text-align: center;
    font-size: 40px;
    color: #fff;
  }
}